*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    --primary-color:#014d4e;
    --seconday-color:#ff9408;
    --seconday-color-m:#ff94088e;
    --tertiary-color:#017374;
    --tertiary-color-m:#01727498;
}
li{
    list-style: none;
}
a:link,
a:visited{
    text-decoration: none;
    color:#fff;
    font-size: 1.5rem;
}
body
{
    font-family: cursive;
    line-height: 1.8;
    display: flex;
}
aside#left_nav
{
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;

}

div.left_nav_content
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-color);
}
div.logo img
{
    width: calc(3vw + 3vh);
    object-fit: cover;
}
ul.legt_nav_social
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
ul.legt_nav_social a i{
    font-size: calc(1rem + 0.66667vw);
    color: #fff;
    padding-bottom: calc(2rem + 0.66667vw);
    transition: color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55));
}
ul.legt_nav_social a i:hover,
ul.legt_nav_social a i:hover
{
    color: var(--seconday-color);
    font-size: 220%;

}
main{
    flex: 1;
}
header#header
{
    background-color: var(--seconday-color);
    height: calc(3vw + 3vh);
    z-index: 2;
}
nav#heade_main-nav
{
    height: 100%;
}
ul.header_main-nav-link
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
ul.header_main-nav-link li{
    padding-right: 3vw;
}
ul.header_main-nav-link li a{
    position: relative;
    padding: 0.2rem 0.6rem;
    font-size: calc(1rem + 0.66667vw);
}
ul.header_main-nav-link li a:link::before,
ul.header_main-nav-link li a:visited::before,
ul.header_main-nav-link li a:link::after,
ul.header_main-nav-link li a:visited::after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.25rem;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(1,0,0,1);
}
ul.header_main-nav-link li a:link::before,
ul.header_main-nav-link li a:visited::before{
    top: 0;
    transform-origin: left;

}
ul.header_main-nav-link li a:link::after,
ul.header_main-nav-link li a:visited::after{
    bottom: 0;
    transform-origin: right;
}
ul.header_main-nav-link li a:hover::before,
ul.header_main-nav-link li a:active::before,
ul.header_main-nav-link li a:hover::after,
ul.header_main-nav-link li a:active::after
{
    transform: scaleX(1);
}
section#showcase
{
    height: 100vh;
    background-image: url(full-bg-07.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.showcase_content
{
    background-color: var(--seconday-color-m);
    padding: calc(1rem + 2vw);
    height: calc(5rem + 20vmax);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation: hero 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes hero{
    0%{
        transform: translateX(100rem) rotate(360deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0rem);
        opacity: 1;
    }
}
h1.showcase_content_title
{
    font-size: calc(2rem + 3vw);
    color: #fff;

}
p.showcase_content_para
{
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(1.5rem + 1vw);
    color: #fff;
}
.showcase_content_link:link,
.showcase_content_link:visited
{
    padding: 1rem 0;
    transition: all 0.5s ease-in-out;
    width: 9rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    position: relative;
    z-index: 0;
}
.showcase_content_link:link::after,
.showcase_content_link:visited::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.45s cubic-bezier(0.645,0.045,0.355,1);
    z-index: -1;
}
.showcase_content_link:hover::after,
.showcase_content_link:active::after
{
    transform: scaleX(1);
    transform-origin: left;
    
}
section#work
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    background-color: var(--tertiary-color);
}
div.work_card{
    padding: 2rem;
    flex-basis: 40rem;
    flex-grow: 1;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
div.work_card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: filter 0.35s ease;
}
div.work_card img:hover,
div.work_card img:active{
    filter: sepia(80%);
}
section#about_me
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: var(--seconday-color);
}
.about-me_img,
.about-me_content
{
    flex-basis: 40rem;
    padding: 2rem;
    flex-grow: 1;
}
.about-me_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-me_content h2{
    font-size: 4rem;
    padding: 1rem 0;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}
.about-me_content--title:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.3rem;
    width: 10%;
    background-color: var(--primary-color);
}
.about-me_content--title,
.about-me_content--para{
    margin-bottom: 4rem;
    letter-spacing: 0.2rem;
}
.about-me_content--para{
    font-size: 1.8rem;
}
.about-me_content--link:hover,
.about-me_content--link:visited{
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    
}
.about-me_content--link:link::after,
.about-me_content--link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);

  z-index: -1;
}

.about-me_content--link:hover::after,
.about-me_content--link:active::after {
  transform: scaleY(1);
  transform-origin: top;
}
section#services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 6rem 2rem 2rem;
    background-color: var(--primary-color);
}
.serivce {
    padding: 4rem;
    margin: 0 2rem 4rem;
    flex-basis: 40rem;
    flex-grow: 1;
    background-color: var(--seconday-color);
    border-bottom: 0.2rem solid var(--seconday-color);
    border-right: 0.2rem solid var(--seconday-color);
    border-left: 0.2rem solid var(--seconday-color);
    position: relative;
    z-index: 1;
}
.serivce::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: transform 0.45s cubic-bezier(1,0,0,1);
    z-index: -1;
}
.serivce:hover::after,
.serivce:active::after{
    transform: scaleX(1);
}
.serivce i,
.serivce .services--title{
    margin-bottom: 2rem;

}
.serivce i{
    font-size: 3rem;
    color: white;
}
.services--title{
    font-size: 3rem;
    text-transform: uppercase;
}
.services--para{
    font-size: 2rem;
    color: #fff;
}
section#skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: calc(1rem + 2vw);
    background-color: var(--tertiary-color);
}
.skill_design,
.skill_coding{
    padding: calc(1rem + 2vw);
    text-transform: uppercase;
    flex-basis: 40rem;
    flex-grow: 1;
}
.skills_design--title,
.skills_coding--title {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.skill_design h4,
.skill_coding h4 {
  font-size: 2rem;
  color: white;
}
.skills_design--progress,
.skills_coding--progress {
  position: relative;
  display: block;
  padding: 0.5rem;
  border-radius: 3rem;
  background-color: var(--primary-color);
  width: 100%;
  margin-bottom: 2rem;
}

.skills_design--progress span,
.skills_coding--progress span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2rem;
  border-radius: 1rem 0 0 1rem;
  background-color: var(--seconday-color);
}

.skills_design--progress__1{
    animation: design-1 4s infinite cubic-bezier(1,0,0,1);
}
@keyframes design-1{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
.skills_design--progress__2{
    animation: design-2 4s infinite cubic-bezier(1,0,0,1);
}
@keyframes design-2{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
.skills_design--progress__3{
    animation: design-3 4s infinite cubic-bezier(1,0,0,1);
}
@keyframes design-3{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
.skills_design--progress__4{
    animation: design-4 4s infinite cubic-bezier(1,0,0,1);
}
@keyframes design-4{
    0%{
        width: 0;
    }
    100%{
        width: 75%;
    }
}
.skills_coding--progress__1{
    animation: coding-1 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-1{
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}
.skills_coding--progress__2{
    animation: coding-2 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-2{
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}
.skills_coding--progress__3{
    animation: coding-3 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-3{
    0%{
        width: 0;
    }
    100%{
        width: 70%;
    }
}
.skills_coding--progress__4{
    animation: coding-4 4s infinite cubic-bezier(1, 0, 0, 1);
}
@keyframes coding-4{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}
section#testimonials {
    padding: calc(1rem + 2vw);
    background-color: var(--seconday-color);
    color:#fff;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .testimonials__card {
    padding: 2vw;
    flex-basis: 50rem;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
  }
  
  .testimonials__card--img {
    height: 100%;
    width: 100%;
  }
  
  .testimonials__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.35s ease-in-out;
  }
  
  .testimonials__card--content__title {
    font-size: 3rem;
    text-transform: uppercase;
  }
  
  .testimonials__card--content__para {
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
  }
  
  .testimonials__card--content {
    position: absolute;
    top: 60%;
    left: 0;
    width: 80%;
    background-color: var(--tertiary-color-m);
    padding: 1.5rem;
  
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.35s ease-in-out;
  }
  
  .testimonials__card:hover .testimonials__card--content,
  .testimonials__card:active .testimonials__card--content {
    transform: scaleY(1);
    transform-origin: center;
  }
  
  .testimonials__card:hover .testimonials__card--img img,
  .testimonials__card:active .testimonials__card--img img {
    transform: scale(0.98);
    filter: grayscale(50%);
  }
  section#contact {
    height: 100vh;
    background-image: url("full-bg-03.jpg");
  
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .contact__form {
    flex-basis: 40rem;
  
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color-m);
  }
  
  .contact__form input,
  .contact__form textarea {
    color: white;
    font-family: "Indie Flower", cursive;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding: 2rem;
    background: transparent;
    border: none;
    border-bottom: var(--seconday-color) solid 0.1rem;
  }
  
  .contact__form textarea {
    height: 30vh;
  }
  
  input[type="submit"] {
    border: none;
    cursor: pointer;
  }
@media screen and(min-width:1510px) {
    body{
        width: 1510px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 900px){
    section#showcase{
        background-position: 100%;
        align-items: flex-end;
    }
}
@media screen and (max-width: 610px) {
    header#header{
        position: absolute;
    }
    nav#heade_main-nav{
        width: 30rem;
        height: 100%;
        position: fixed;
        right:-30rem;
        background-color: var(--seconday-color);
        text-align: center;
    }
    .clicked{
        left: 55%;
    }
    .header_main-nav-hamburger{
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 2rem;
        right: 3rem;
        cursor: pointer;
        background-color: var(--seconday-color);
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .line{
        width: 100%;
        height: 0.3rem;
        background-color: #fff;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
    }
    ul.header_main-nav-link{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    ul.header_main-nav-link li{
        margin-bottom: 4vh;
        margin-left: 6vw;
    }
    .clicked .line-1{
        transform: rotateZ(-405deg) translate(-0.8rem,0.6rem);
    }
    .clicked .line-2{
        opacity: 0;
    }
    .clicked .line-3{
        transform: rotateZ(405deg) translate(-0.8rem,-0.6rem);
    }
    ul.header_main-nav-link li{
        opacity: 0;
    }
    ul.header_main-nav-link li:nth-child(1){
        transition: all 0.5s ease-in-out 0.2s;
    }
    ul.header_main-nav-link li:nth-child(2){
        transition: all 0.5s ease-in-out 0.4s;
    }
    ul.header_main-nav-link li:nth-child(3){
        transition: all 0.5s ease-in-out 0.6s;
    }
    ul.header_main-nav-link li:nth-child(4){
        transition: all 0.5s ease-in-out 0.8s;
    }
    ul.header_main-nav-link li:nth-child(5){
        transition: all 0.5s ease-in-out 1s;
    }
    ul.header_main-nav-link li:nth-child(6){
        transition: all 0.5s ease-in-out 1.2s;
    }
    ul.header_main-nav-link li.fade{
        opacity: 1;
    }
    section#showcase{
        background-position: 80%;
    }
    section#services{
        padding: 6rem 3rem 2rem;
    }
    .serivce{
        padding: calc(1rem + 2vw);
        margin: 0 0 calc(1rem + 2vw);
    }
    .services--title{
        font-size: calc(1.2rem + 2vw);
    }
    .services--para{
        font-size: calc(0.8rem + 1.5vw);
    }
}

